.publication-content-container{
    padding-top: 10px;
  }
  
  .publication-content-container h4{
    color:rgb(20, 98, 187);
  }
  
  .publication-content-container p{
    color: rgb(11, 139, 11);
  }
  