.profil-container{
    color: rgb(146, 106, 190);
    margin: 50px;
    padding: 5px;
    border: 1px solid black;

  }
  
button {
    background-color: rgb(153, 158, 207);
    color: rgb(56, 9, 75);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 1px;
    margin: auto;
    margin-bottom: 30px;
    display:block;

	
}

